<configuration status="warn">

<appenders>

<console name="console"  target="SYSTEM_OUT">
<patternLayout pattern="%d{HH:mm:ss} [%t]  %-5level %logger{36} -%msg%n"></patternLayout>

</console>
<file name="file"  filename="logs/test.log">

<patternLayout pattern="%d{HH:mm:ss} [%t]  %-5level %logger{36} -%msg%n" >  </patternLayout>
</file>
<Loggers>
<Root level="info">
<appender ref="console"/>
<appender ref="file"/>
</Root>
</Loggers>
</appenders>



</configuration>